<div class="dash-body">
    <div *ngIf="errorMessage">
        <div class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>
    </div>
    <div class="card book-list" *ngIf="books">
        <div class="card-header">
            <div class="card-title">
                <div class="d-flex w-100 justify-content-between">
                    <h4>Books</h4>
                    <button *ngIf="isAdmin() && !showForm" class="btn btn-info" (click)="addBtnClick()">Create Book</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="add-book-form" *ngIf="showForm">
                <app-add-book [action]="action" [id]="bookId" (displayForm)="displayForm(false)" (hideError)="setErrorMessage(null)"></app-add-book>
            </div>
            <div *ngIf="!showForm" class="list-group">
                <div *ngFor="let book of books" class="list-group-item list-group-item-action">  
                  <div class="d-flex w-100 justify-content-between">  
                    <h6 class="mb-1">{{ book.title }}</h6>                      
                    <div class="d-flex">
                        <a class="btn btn-primary" routerLink="/books/{{book.id}}">Open</a>
                        <button *ngIf="isAdmin()" class="btn btn-warning" (click)="updateBtnClick(book)">Update</button>
                        <button *ngIf="isAdmin()" class="btn btn-danger" (click)="deleteBook(book.id)">Delete</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>    
    </div>
</div>